# **ส่วนประกอบของภาษา T-SQL**

## **ตัวแปร**

### **มีตัวแปรภายใน (Local Variable) เพียงชนิดเดียว** **ใช้สำหรับเก็บข้อมูลเป็นการชั่วคราว**

- **การตั้งชื่อตัวแปรต้องนำหน้าด้วยสัญลักษณ์ @** 
    - **@@ สงวนไว้ใช้กับตัวแปรระบบ (หรือฟังก์ชันพิเศษของระบบ) เท่านั้น**
- **ต้องกำหนดชนิดข้อมูล**
- **ต้องกำหนดค่าและใช้ภายใน Batch เดียวกันเท่านั้น**
- **สามารถสร้างตัวแปรและกำหนดค่าให้กับตัวแปรในบรรทัดเดียว ได้ตั้งแต่ SQL Server 2008**

In [2]:
DECLARE @myVar int = 20;

SELECT @myVar+30 as FirstResult;

SET @myVar =70;

SELECT @myVar+30 as SecondResult;

FirstResult
50

SecondResult
100

## นิพจน์

### เป็นการผสมรวมของ ตัวแปร, ตัวดำเนินการ, ฟังก์ชัน, และค่าคงที่ เข้าด้วยกันอาจใช้ทั้งหมดหรือบางส่วน ให้ได้ผลลัพธ์เพียงผลลัพธ์เดียว

<u>ตัวอย่างนิพจน์ในประโยค SELECT</u>

In [3]:
USE TSQL;

SELECT 
    *
,   OD.unitprice*OD.qty*(1-OD.discount) as LineTotal
FROM Sales.OrderDetails as OD
WHERE OD.orderid=10251;

orderid,productid,unitprice,qty,discount,LineTotal
10251,22,16.80,6,0.050,95.7600000
10251,57,15.60,15,0.050,222.3000000
10251,65,16.80,20,0.000,336.0000000

<u>ตัวอย่างนิพจน์ในประโยค WHERE</u>

In [18]:
USE TSQL;

SELECT
*
FROM HR.Employees as E
WHERE E.hiredate < DATEADD(DAY,-7800,GETDATE());

empid,lastname,firstname,title,titleofcourtesy,birthdate,hiredate,address,city,region,postalcode,country,phone,mgrid
1,Davis,Sara,CEO,Ms.,1958-12-08 00:00:00.000,2002-05-01 00:00:00.000,"7890 - 20th Ave. E., Apt. 2A",Seattle,WA,10003,USA,(206) 555-0101,NULL
3,Lew,Judy,Sales Manager,Ms.,1973-08-30 00:00:00.000,2002-04-01 00:00:00.000,2345 Moss Bay Blvd.,Kirkland,WA,10007,USA,(206) 555-0103,2

## คอมเม็นต์

### คอมเม็นต์เป็นบล็อก โดยคอมเม็นต์ข้อความที่อยู่ระหว่าง /\* และ \*/

In [ ]:
USE TSQL;

/* 

SELECT
*
FROM HR.Employees as E
WHERE E.hiredate < DATEADD(DAY,-7800,GETDATE());

*/

SELECT
*
FROM HR.Employees as E
WHERE E.hiredate < DATEADD(YEAR,-21,GETDATE());

### คอมเม็นต์จากจุดที่มี  -- (dash dash) ไปจนสิ้นบรรทัด

In [ ]:
USE TSQL;

SELECT
*
FROM HR.Employees as E
WHERE E.hiredate < DATEADD(DAY,-7800,GETDATE()); --สามารถทดสอบเปลี่ยนตัวเลขในฟังก์ชัน DATEADD ได้

## Predicate

### <span style="color: var(--vscode-foreground);">Predicate เป็นหลักการทางคณิตศาสตร์ ใช้ใน Relational Database Model เป็นนิพจน์ที่ให้ค่า</span>

- จริง (True)
- เท็จ (False)
- พิสูจน์ไม่ได้ว่าจริงหรือเท็จ (ในทางคอมพิวเตอร์ เมื่อพิสูจน์ไม่ได้จะถือเป็น เท็จ)

ดูรายละเอียดเพิ่มเติมได้จาก [Wikipedia](https:\en.wikipedia.org\wiki\Three-valued_logic) <span style="color: var(--vscode-foreground);">มักถูกเรียกว่า Boolean Logic</span>

พบได้ในแทบทุกประโยคของคำสั่ง SELECT

<u>ตัวอย่าง Predicate ในประโยค WHERE และ HAVING</u>

การใช้งานประโยค WHERE และ HAVING จะมีบทเรียนเฉพาะโดยละเอียดภายหลัง

In [ ]:
USE TSQL;

SELECT * FROM HR.Employees
WHERE title='Sales Manager';

In [ ]:
USE TSQL;

SELECT custid FROM Sales.Orders
GROUP BY custid
HAVING COUNT(*)>20;

<u>ตัวอย่าง Predicate ในนิพจน์ CASE</u> 

<span style="color: var(--vscode-foreground);">จะมีบทเรียนของ</span>นิพจน์ CASE ในภายหลัง

In [ ]:
USE TSQL;

SELECT
    *
,   CASE 
        WHEN unitprice = 0 OR discontinued=1 THEN 'Not for Sale'
        WHEN unitprice<50 THEN 'Low Price'
        WHEN unitprice<100 THEN 'Medium Price'
        ELSE 'High Price'
    END as PriceDesc
FROM Production.Products;

<u>ตัวอย่าง Predicate ในเงื่อนไขการ JOIN หลังประโยค ON</u>

การ JOIN ตาราง จะมีบทเรียนเฉพาะโดยละเอียดภายหลัง

In [ ]:
USE TSQL;

SELECT  
    C.categoryname
,   P.productname
,   P.unitprice
FROM Production.Categories as C INNER JOIN Production.Products as P 
ON C.categoryid=P.categoryid;